h1{
    border-bottom:1px solid red;
    font-size: 5rem;
    font-family: cursive;
    text-align: center;
}
/* ol{
    border-right:1px solid red;
} */

#container div{
    padding-left: 5rem;
}
